* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* FONTES */
.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.open-sans-Open_Sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
.inter-INTER {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
/* BODY */
body {
    background-color: #E2F5FA;
    font-family: 'Poppins', sans-serif;
}

/* MAIN */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}








